{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <a style="margin-bottom: 20px" class="btn btn-success" href="/admin/add/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            添加管理员
        </a>

        <div style="float: right; width: 300px">
            <form method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search for..."
                           value="{{ search_data }}">

                    <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                    </span>
                </div>
            </form>
        </div>

        <div class="bs-example" data-example-id="table-within-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    管理员列表
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>重置密码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                        <tr>
                            <th scope="row">{{ obj.id }}</th>
                            <td>{{ obj.username }}</td>
                            <td>**********</td>
                            <td>
                                <a href="/admin/{{ obj.id }}/reset/">reset</a>
                            </td>
                            <td>
                                <a class="button btn-primary btn-sm" href="/admin/{{ obj.id }}/edit/">编辑</a>
                                <a class="button btn-danger btn-sm" href="/admin/{{ obj.id }}/delete/">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
{% endblock %}
